<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Doctor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="card-grid">

    <!-- Iterating view -->
     <div *ngFor="let doc of sharedDoctor">
      <ion-card class="interactive-card gradient-blue">
        <div *ngIf="deleteActions || editActions" class="badge">
          <ion-button *ngIf="deleteActions" class="badge-icon" (click)="deleteDoctor(doc.DOCT_ID)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>  
          <!-- <ion-button *ngIf="editActions" class="badge-icon" (click)="editDoctor(doc.DOCT_ID)">
            <ion-icon name="pencil"></ion-icon>
          </ion-button>   -->
        </div>
        <ion-card-header>
          <ion-card-title>Dr. {{doc.NAME}}</ion-card-title>
          <ion-card-subtitle>{{doc.SPECIALIZED}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{doc.ADDRESS}}

        </ion-card-content>
        <ion-card-content>
          <ion-button slot="end" class="consult" (click)="consultDoctor(doc.DOCT_ID, doc.NAME, doc.SPECIALIZED)">
            Consult Now
          </ion-button>  
        </ion-card-content>

      </ion-card>  
     </div>
    
  </div>

  <ion-fab *ngIf="deleteActions || editActions" slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button (click)="clear()">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
</ion-fab>
  <!-- Fab buttons -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="deleteAction()">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="addDoctor()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
