/* Emergency page custom styles */
.emergency-count {
    text-align: center;
    margin-top: 50px;
  }
  
  .emergency-count h1 {
    font-size: 120px;
    color: red;
    font-weight: bold;
  }
  
  .service-message {
    text-align: center;
    margin-top: 20px;
  }
  
  .service-message h2 {
    font-size: 20px;
    color: #333;
  }
  
  ion-button {
    margin-top: 30px;
  }
  