<ion-content class="ion-padding">
  <ion-icon name="arrow-back" size="large" (click)="goBack()"></ion-icon>

  <div class="registration-header">
    <h1>Registration</h1>
    <p>Please fill in the details to create your account</p>
  </div>

  <div class="form-container">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <ion-list lines="none">
        <ion-item class="input-item">
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Age</ion-label>
          <ion-input type="number" formControlName="age"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="password" formControlName="cpassword"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button expand="block" type="submit" class="register-button">
        Register
      </ion-button>
    </form>
  </div>
</ion-content>
