<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Diet Control</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="card-grid">

    <!-- Iterating view -->
     <div *ngFor="let diet of sharedDiet">
      <ion-card class="interactive-card gradient-purple">
        <div *ngIf="deleteActions || editActions" class="badge">
          <ion-button *ngIf="deleteActions" class="badge-icon" (click)="deleteDiet(diet.DIET_ID)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>  
          <ion-button *ngIf="editActions" class="badge-icon" (click)="editDiet()">
            <ion-icon name="pencil"></ion-icon>
          </ion-button>  
        </div>
        <ion-card-header>
          <ion-card-title>{{diet.COURSE_NAME}}</ion-card-title>
          <ion-card-subtitle>{{diet.DURATION}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{diet.DESCRIPTION}}
        </ion-card-content>
      </ion-card>  
     </div>
    
  </div>

  <!-- Fab buttons -->
  <ion-fab *ngIf="deleteActions || editActions" slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button (click)="clear()">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
</ion-fab>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="editAction()">
        <ion-icon name="pencil"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="deleteAction()">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="addDiet()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
