<ion-content class="ion-padding">
  <div class="card-grid">

    <!-- Iterating view -->
    <ion-card class="interactive-card gradient-blue">
      <div class="badge">
        <ion-button class="badge-icon">
          <ion-icon name="trash"></ion-icon>
        </ion-button>  
      </div>
      <ion-card-header>
        <ion-card-title>Dr. Emily Stone</ion-card-title>
        <ion-card-subtitle>Cardiologist</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Specialized in heart health and internal medicine.
      </ion-card-content>
    </ion-card>
    
  </div>

  <!-- Fab buttons -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="pencil"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
