<ion-content [fullscreen]="true" class="ion-padding custom-bg">
  <ion-icon name="arrow-back" size="large" (click)="goBack()"></ion-icon>
  <div class="form-container">
    <form [formGroup]="medicineForm" (ngSubmit)="onSubmit()">
      <div *ngFor="let item of medicineModel.subPhases">
        <h2 *ngIf="item.id=='header'" class="form-title">{{item.label}}</h2>
        <p *ngIf="item.id=='subheader'" class="form-subtitle">{{item.label}}</p>
  
        <ion-item *ngIf="item.id !=='header' && item.id !=='subheader' && item.id !=='save' && item.id !=='completion'" class="custom-item">
          <ion-label position="floating">{{item.label}}</ion-label>
          <ion-input type="{{item.type}}" formControlName="{{item.id}}"></ion-input>
        </ion-item>
        <ion-item class="custom-item" *ngIf="item.id=='completion'">
          <ion-toggle formControlName="{{item.id}}">{{item.label}}</ion-toggle>
        </ion-item>
        <ion-button *ngIf="item.type == 'submit'" expand="block" color="primary" class="custom-btn" type="{{item.type}}">
          {{item.label}}
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
