<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Medicines</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="card-grid">

    <!-- iterating view -->
     <ion-title *ngIf="sharedMedicine.length==0">Please add your Medicines</ion-title>
     <div *ngFor="let med of sharedMedicine">
      <ion-card class="interactive-card gradient-green" >
        
        <ion-card-header>
          <div *ngIf="deleteActions" class="badge">
            <ion-button class="badge-icon"  (click)="deleteMedicine(med.MEDICINE_ID)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>  
            <!-- <ion-button *ngIf="editActions" class="badge-icon" (click)="editMedicine(med.MEDICINE_ID)">
              <ion-icon name="pencil"></ion-icon>
            </ion-button>   -->
          </div>
          <ion-card-title>{{med.MEDICINE_NAME}}</ion-card-title>
          <ion-card-subtitle *ngIf="med.COMPLETION">Great You have took!</ion-card-subtitle>
          <ion-card-subtitle *ngIf="!med.COMPLETION">Medicine Not Taken</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Next strip at : {{med.TIME_TO_TAKE}}
          <!-- <div>
            <ion-card-subtitle *ngIf="!med.COMPLETION">Mark Completion</ion-card-subtitle>
            <ion-toggle></ion-toggle>  
          </div> -->
        </ion-card-content>
      </ion-card>  
     </div>

    <!-- <ion-card class="interactive-card gradient-purple">
      <ion-card-header>
        <ion-card-title>Dr. Arjun Mehta</ion-card-title>
        <ion-card-subtitle>Dermatologist</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Expert in skincare, allergies, and treatment plans.
      </ion-card-content>
    </ion-card>

    <ion-card class="interactive-card gradient-green">
      <ion-card-header>
        <ion-card-title>Dr. Sara Khan</ion-card-title>
        <ion-card-subtitle>Neurologist</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Treats brain and nerve disorders with care.
      </ion-card-content>
    </ion-card> -->
  </div>

  <!-- fab icons -->
  <ion-fab *ngIf="deleteActions || editActions" slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button (click)="clear()">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
</ion-fab>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <!-- <ion-fab-button (click)="editAction()">
        <ion-icon name="pencil"></ion-icon>
      </ion-fab-button> -->
      <ion-fab-button (click)="deleteAction()">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="addMedicine()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
