<ion-content class="ion-padding">
  <div class="card-grid">

    <h2 class="form-title">Doctors</h2>

    <!-- iterating view -->
    <ion-card class="interactive-card gradient-blue">
      <div *ngIf="deleteActions || editActions" class="badge">
        <ion-button *ngIf="deleteActions" class="badge-icon">
          <ion-icon name="trash"></ion-icon>
        </ion-button>  
        <ion-button *ngIf="editActions" class="badge-icon">
          <ion-icon name="pencil"></ion-icon>
        </ion-button>  
      </div>
      <ion-card-header>
        <ion-card-title>Dr. Emily Stone</ion-card-title>
        <ion-card-subtitle>Cardiologist</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Specialized in heart health and internal medicine.
      </ion-card-content>
    </ion-card>

    <!-- <ion-card class="interactive-card gradient-purple">
      <ion-card-header>
        <ion-card-title>Dr. Arjun Mehta</ion-card-title>
        <ion-card-subtitle>Dermatologist</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Expert in skincare, allergies, and treatment plans.
      </ion-card-content>
    </ion-card>

    <ion-card class="interactive-card gradient-green">
      <ion-card-header>
        <ion-card-title>Dr. Sara Khan</ion-card-title>
        <ion-card-subtitle>Neurologist</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Treats brain and nerve disorders with care.
      </ion-card-content>
    </ion-card> -->
  </div>

  <!-- fab icons -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="editAction()">
        <ion-icon name="pencil"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="deleteAction()">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="addMedicine()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
